:root {
	--light-purple: #B26DE7;
	--medium-purple: #68159A;
	--dark-purple: #301842;
}

.light-purple {
	background-color: var(--light-purple);
	color: white;
}
.light-purple button {
	color: gold;
}
.light-purple .disabled {
	color: black;
}
.medium-purple {
	background-color: var(--medium-purple);
	color: white;
}
.dark-purple {
	background-color: var(--dark-purple);
	color: white;
}

.breadcrumb a:hover {
	color: red;
}

.no-bullet {
	list-style-type: none;
}

.no-bullet a:hover {
	color: red;
}

pre {
	background-color: slategray;
}

/* @media (max-width: 767px) {
	#side-bar {
		min-height: 33.3333333%;
		height: 33.3333333%;
	}
} */